/*Style for icon font*/
@import 'style.css';

body {
  background: linear-gradient(to top, #1e5799 11%,#7db9e8 74%);
  padding: 10px;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 30px;
}
hr {
  margin: 15px 0 3px 0;
  border-color: cornflowerblue;
}
.module {
  border: 1px solid black;
  margin-bottom: 15px;
  position: relative;
}

.module div.footer {
  font-weight: normal;
  padding: 0 2px;
  font-size:0.9em;
}
.name {
  border-bottom: 1px solid grey;
  margin-bottom: 15px;
}


/*Show/hide conditional stuff*/

/*Alert section*/
.module.isalert .name{
  background-color: pink;
}

div.name div.commands {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
}
/*.module div.isalert {*/
  /*background-color: #FFDDDD;*/
/*}*/

.module div {
  position: relative;
  padding: 2px;
}

div.editor {
  display:none;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: white;
}

div.editor input {
  height: 100%;
  border:0;
  background-color: powderblue;
  margin-right: 4px;
  position:relative;
  top:-2px;
  width: 4em;
  padding-left: 3px;
}

div.editor input.date {
  width: 13em;
}

div.editor input.lightOff, div.editor input.lightOn {
  width: 7em;
}
div.editor input.minTemp, div.editor input.maxTemp {
  width: 3em;
}
div.editor button {
  height: 100%;
  padding: 0 3px;
}

div.editor.onLightRange::before,div.editor.offLightRange::before {
  position: relative;
  bottom: 2px;
}

span.icon {
  margin-right:8px;
  margin-top: 3px;
  cursor: pointer;
  opacity: 0.4;
  float:right;

}
span.icon:hover {
  opacity: 1;
}

body.fetchingError span.icon.icon-loop2 {
  opacity: 1;
  color: red;
}
@keyframes rotating {
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}

body.fetching span.icon.icon-loop2 {
  animation: rotating 2s linear infinite;
  opacity: 1;
}

.icon.icon-pencil {
  display: none;
}
.isAlert>.icon.icon-sad {
  display: block;
}
.isAlert>.icon.icon-smile {
  display: none;
}

span.icon.icon-sad {
  display: none;
  color: red;
  font-weight: bold;
  opacity: 1;
  cursor: default;
}
span.icon.icon-smile {
  display: block;
  color: green;
  font-weight: bold;
  opacity: 1;
  cursor: default;
}
.module.showSettings .icon.icon-pencil {
  display: block;
}

.module.showSettings .setting {
  display: block;
}

.module.showSettings .icon-cog {
  color: red;
}

.setting {
  display: none;
}

.date.setting {
  display: block;
}

