
body {
  background: linear-gradient(to top, #1e5799 11%,#7db9e8 74%);
  padding: 10px;
}

h1 {
  text-align: center;
}

.module {
  border: 1px solid black;
  margin-bottom: 15px;
}

.name {
  border-bottom: 1px solid grey;
  margin-bottom: 15px;
}


/*Show/hide conditional stuff*/

/*Alert section*/
.module.isAlert .name{
  background-color: red;
}

.module div.isAlert {
  background-color: lightpink;
}

.module div {
  position: relative;
}
.module div.editable {
  background-color: green;
  position:absolute;
  top:0;
  right:0;
  width:1em;
  bottom:0;
  cursor: pointer;
}

div.editor {
  display:none;
}

.onLightRange input, .offLightRange input {
  width: 4em;
}