
body {
    background: linear-gradient(to bottom, #1e5799 11%,#7db9e8 74%);
    padding: 10px;
}

h1 {
    text-align: center;
}

.name::before {
  content: "Name: ";
}
.localIP::before {
  content: "IP on home wifi network: ";
}
.APIP::before {
  content: "IP on ";
}
.APIP span::after {
  content: " network: ";
}
.temperature::before {
  content: "Temperature: ";
}

.module.isAlert .name{
  background-color: red;
}