
body {
  background: linear-gradient(to top, #1e5799 11%,#7db9e8 74%);
  padding: 10px;
}

h1 {
  text-align: center;
}

#main li {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid grey;
}

.name {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}


/*Show/hide conditional stuff*/

/*Alert section*/
.module.isAlert .name{
  background-color: red;
}

.module div.isAlert {
  background-color: lightpink;
}